.bookmark-link {
  text-decoration: none;
  color: white;
  font-weight: bold;
}

.bookmarks {
  position: absolute;
  top: 0;
  right: 0;
  margin: 20px;
  text-align: center;
}
.bookmark-icon {
  padding-top: 2px;
  padding-right: 2px;
}
.bookmark-link:hover {
  color: orange;
}
